# Ignore Interpreted Python Files
__pycache__/
*.pyc

# Ignore PyCharm Project folder
.idea

# Ignore Django Static Files folder
static

# Ignore Our Test Files
try.py

# To Ignore DB Changes, Use This Command:
## git update-index --assume-unchanged db.sqlite3

# To Undo The Ignore On DB, Use This Command:
## git update-index --no-assume-unchanged db.sqlite3

